DATABASE_URL=
SITE_URL=https://michiganoutdoorsreport.com
IMPORTER_CONTACT_EMAIL=
INDEXNOW_KEY=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_AMAZON_TAG=
NEXT_PUBLIC_AVANTLINK_ID=
NEXT_PUBLIC_IMPACT_ID=
NEXT_PUBLIC_CONTACT_EMAIL=
